# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

**TOPICS**

Introduction to python data types

Data manipulation with string, list, dictionaries, and tuples

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing ID at the beigining of the file name. </p><p><b>Example: 20-45961-3 Lab 01.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# Number

**Basic Arithmetic Operations**

In [4]:
# Addition, Subtraction, Multiplication, Division
a = 10
b = 5

sum_result = a + b
difference_result = a - b
product_result = a * b
division_result = a / b

print(f"Sum: {sum_result}, Difference: {difference_result}, Product: {product_result}, Division: {division_result}")

Sum: 15, Difference: 5, Product: 50, Division: 2.0

**Exponentiation and Modulus**

In [ ]:
# Exponentiation (Power) and Modulus (Remainder)
base = 2
exponent = 3

power_result = base ** exponent
modulus_result = a % b

print(f"Power: {power_result}, Modulus: {modulus_result}")

**Floor Division**

In [ ]:
# Floor Division
floor_result = a // b   # floored division result

print(f"Floor Division: {floor_result}")

**Absolute Value and Rounding**

In [ ]:
# Absolute Value and Rounding
negative_number = -7.5

absolute_value = abs(negative_number)
rounded_value = round(negative_number)

print(f"Absolute Value: {absolute_value}, Rounded Value: {rounded_value}")

**Using the math module for advanced number operations**

In [ ]:
import math

# Square root, Factorial, and Trigonometric functions
square_root = math.sqrt(16)
factorial_result = math.factorial(5)
sin_value = math.sin(math.radians(30))

print(f"Square Root: {square_root}, Factorial: {factorial_result}, sin(30 degrees): {sin_value}")

**Random Number Generation**

In [ ]:
import random

# Generate a random number between 1 and 100
random_number = random.randint(1, 100)
print(f"Random Number: {random_number}")

# Generate a random float between 0 and 1
random_float = random.random()
print(f"Random Float: {random_float}")

<b>Note:</b> A cell in Python will only display the value of the last expression. If you want to output other values, you should use the *print()* function.

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

**Integer and Float**

In [ ]:
a=10.5
b=6

In [ ]:
# Checking the type of an object
print(type(a))
print(type(b))

**String**

In [ ]:
# Concatenation
greeting = "Hello, "
name = "Alice"
message = greeting + name  # Combine strings
print(message)

In [ ]:
# Repetition
repeat_string = "Hi! " * 3
print(repeat_string)

In [ ]:
# Slicing
text = "Hello, World!"
substring = text[7:12]  # Extract substring
print(substring)

In [ ]:
# Changing case
text = "hello"
upper_case = text.upper()  # Convert to uppercase
lower_case = text.lower()  # Convert to lowercase
print(upper_case)
print(lower_case)

In [ ]:
# Stripping whitespace
text = "   Hello, World!   "
stripped_text = text.strip()  # Removes spaces from both ends
print(stripped_text)

In [ ]:
# Finding substring
text = "Hello, World!"
index = text.find("World")  # Returns the index where "substring" starts
print(index)

In [ ]:
# Replacing substring
text = "Hello, World!"
new_text = text.replace("World", "Python")
print(new_text)

In [ ]:
# Checking substring existence
text = "Hello, World!"
contains_hello = "Hello" in text
contains_python = "Python" in text
print(contains_hello)
print(contains_python)

In [ ]:
# String length
text = "Hello, World!"
length = len(text)
print(length)

In [ ]:
# Splitting string
text = "apple,banana,orange"
fruits = text.split(",")  # Split by comma
print(fruits)

In [ ]:
# Joining strings
fruits = ['apple', 'banana', 'orange']
joined_fruits = ", ".join(fruits)
print(joined_fruits)

In [ ]:
# String formatting
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

In [3]:
# Checking start or end
text = "Hello, World!"
starts_with_hello = text.startswith("Hello")
ends_with_world = text.endswith("World!")
print(starts_with_hello)
print(ends_with_world)

True
True

In [2]:
# Counting occurrences
text = "banana"
count_a = text.count("a")
print(count_a)

3

In [1]:
# Checking if alphabetic
text = "Hello"
is_alpha = text.isalpha()
print(is_alpha)

text = "Hello123"
is_alpha = text.isalpha()
print(is_alpha)

True
False

In [ ]:
# Negative index example
text = "Hello, World!"
last_char = text[-1]  # Last character
print(last_char)

In [ ]:
# Negative index slicing
substring = text[-6:-1]
print(substring)

In [ ]:
# Reversing string
reversed_text = text[::-1]  # Reverse the entire string
print(reversed_text)

In [ ]:
# Slicing with negative step
reversed_substring = text[-7:-1:2]  # Start from index -7, stop at index -1, step by 2
print(reversed_substring)

**List**

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

In [ ]:
# Accessing list elements
first_fruit = fruits[0]
print(first_fruit)

last_fruit = fruits[-1]  # Last element
print(last_fruit)

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [ ]:
# Slicing a list
sublist = fruits[1:3]  # Elements from index 1 to 2
print(sublist)

In [ ]:
# Appending an element
fruits.append("orange")
print(fruits)

In [ ]:
# Inserting an element
fruits.insert(1, "grape")  # Insert "grape" at index 1
print(fruits)

In [ ]:
# Removing by value
fruits.remove("banana")
print(fruits)

# Removing by index
removed_fruit = fruits.pop(2)  # Removes element at index 2
print(removed_fruit)
print(fruits)

In [ ]:
# Finding the index of an element
index_of_grape = fruits.index("grape")
print(index_of_grape)

In [ ]:
# Checking existence of an element
exists = "apple" in fruits
print(exists)

exists = "banana" in fruits
print(exists)

In [ ]:
# Getting the length of the list
length = len(fruits)
print(length)

In [ ]:
# Sorting a list
fruits = ["orange", "banana", "apple", "grape"]
fruits.sort()
print(fruits)

In [ ]:
# Reversing a list
fruits.reverse()
print(fruits)

In [ ]:
# List comprehension
numbers = [1, 2, 3, 4, 5]
squared_numbers = [n ** 2 for n in numbers]
print(squared_numbers)

In [ ]:
# Extending a list
more_fruits = ["kiwi", "melon"]
fruits.extend(more_fruits)
print(fruits)

In [ ]:
# List with different data types in nested lists
mixed_nested_list = [[1, "apple", 3.14], [True, "banana", None], [False, 42, "hello"]]

# Accessing elements
print(mixed_nested_list[0])
print(mixed_nested_list[1][1])
print(mixed_nested_list[2][2])

# Modifying an element in the nested list
mixed_nested_list[2][0] = True
print(mixed_nested_list)

Lists also support operations like concatenation

In [ ]:
# Two lists to concatenate
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenating the lists
result = list1 + list2
print(result)  # Output: [1, 2, 3, 4, 5, 6]

**Dictionary**
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [ ]:
# Using curly braces
person = {"name": "John", "age": 25, "city": "New York"}

# Using dict() constructor
person2 = dict(name="Jane", age=30, city="Los Angeles")

print(person)

In [ ]:
# Accessing a value using a key
print(person["name"])
print(person2["age"])

# Using get() method (safe way to access values)
print(person.get("city"))
print(person.get("country", "Not found"))

In [ ]:
# Adding a new key-value pair
person["country"] = "USA"
print(person)

# Updating an existing key-value pair
person["age"] = 26
print(person)

In [ ]:
# Using del to remove a key-value pair
del person["city"]
print(person)

# Using pop() to remove a key-value pair and get the value
age = person.pop("age")
print(person)
print(age)

# Using popitem() to remove and return the last key-value pair
last_item = person.popitem()
print(person)
print(last_item)

In [ ]:
# Checking if a key exists
print("name" in person)
print("age" in person)

In [ ]:
# Iterating over keys
for key in person:
    print(key)

# Iterating over values
for value in person.values():
    print(value)

# Iterating over key-value pairs
for key, value in person.items():
    print(key, value)


## List of problems
**Problem 1.** Assign values to some variables and perform different operations. Also print the results.

**Problem 2.** Import a module of your choice and show some operations.

**Problem 3.** Demonstrate some string operations. Also, show uses of some string methods.

**Problem 4**. Implement stack using list

> [Hints: The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index]

**Problem 5.** Implement queue using list

> [Hints: It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)]

**Problem 6.** Define a dictionary to store the details of persons. Also, print some data from the dictionary.
>[Hint: You may require nesting dictionary, lists, string inside the dictionary.]

**Problem 7.** Read the content from here
> (https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences ) to follow some examples on tuple and set.

#**Start your coding from here**


---

In [ ]:
## Problem 1
x = 5;
y = 10.5
b = False;

print(y / x)
print(y // x)
print(abs(y))
print(x ** 2)

z = 5 + 5.5;
print(type(x))
print(type(y))
print(type(z))

if b:
    print("If condition ran")
else:
    print("If condition didn't ran")

In [ ]:
## Problem 2

import math
import random

angle = math.radians(30)
print(math.sin(angle))
print(math.cos(angle))
print(math.tan(angle))

print(f"Value of Pi: {math.pi}")
print(f"Log base 2 of 4: {math.log(4, 2)}")
print(f"LCM of 4, 12, 15: {math.lcm(4, 12, 15)}")

## Choice game
rand = random.randint(1, 10)
choice = input("Choose a number between 1 and 10")
if (choice == rand):
    print(f"Your choice of {choice} is correct")
else:
    print(f"Your choice of {choice} is NOT correct :(")

In [ ]:
## Problem 3
a = "hello"
b = "world"
c = a + " " + b
print(c)
print(a.upper())
print(a.lower())

print(f"Reverse string: {c[-1::-1]}")
print(f"Count of o: {c.count('o')}")

str = "foo,bar"
str_split = str.split(',')
print(str_split[0])

str_joined = "test"
str_joined = str_joined.join([str_split[0], str_split[1]])
print(str_joined)

In [ ]:
## Problem 4

stack = []

def stack_push(val):
    stack.append(val)
    print(f'Push: {val}')

def stack_pop():
    if len(stack) > 0:
        print(f'Pop: {stack.pop()}')
    else:
        print('Stack is empty')

print(f'Stack: {stack[-1::-1]}')

stack_push(10)
stack_push(15)
stack_push(3)
stack_push(7)

print(f'Stack: {stack[-1::-1]}')
stack_pop()
stack_pop()
stack_pop()

stack_push(4)
print(f'Stack: {stack[-1::-1]}')

In [ ]:
## Problem 5
queue = []

def enqueue(val):
    queue.append(val)
    print(f'Enqueue: {val}')

def dequeue():
    if len(queue) > 0:
        print(f'Dequeue: {queue.pop(0)}')
    else:
        print('Queue is empty')

print(f'Stack: {queue}')

enqueue(10)
enqueue(15)
enqueue(3)
enqueue(7)

print(f'Stack: {queue}')
dequeue()
dequeue()
dequeue()

enqueue(4)
print(f'Stack: {queue}')

In [ ]:
## Problem 6

persons = []

def create_person(name, age, phone, email, address):
    person = {'name': name,
              'age': age,
              'phone': phone,
              'email': email,
              'address': address}
    
    persons.append(person)


def print_person(name):
    for person in persons:
        if person['name'] == name:
            print(f'''Name: {person['name']}\nAge: {person['age']}\nPhone: {person['phone']}\nEmail: {person['email']}\nAddress: {person['address']}''')
    

create_person('Sadman', 22, '0170000000', 'sadman@gmail.com', 'Bashundhara, Dhaka')
create_person('Sakib', 23, '01754324636', 'sakib@gmail.com', 'Khilkhet, Dhaka')

# print(persons[1])
print_person('Sakib')

**Tuples and Sets**
<br>Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.